
nav.navbar-cor{
	background-color: #ADFF2F;
}

h1{
	color:	yellow;
}


.cor-fundo{
	background-color: #FFFACD;
}

#subtitulo{
	color: green;
}

#foto{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding: 30px;
	background-color: gray;
}















